#add-post-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;

  form {
    background-color: #F8F9FA;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 60%;
    max-width: 1000px;
  }

  label {
    display: block;
    margin-bottom: 8px;
    font-weight: 600;
    color: #36454F;
  }

  input[type=text],
  input[type=url],
  textarea,
  select {
    width: 100%;
    padding: 12px 16px;
    margin-bottom: 20px;
    display: block;
    border: 1.5px solid #ddd;
    border-radius: 8px;
    box-sizing: border-box;
  }

  input[type=text]:focus,
  input[type=url]:focus,
  textarea:focus,
  select:focus {
    outline: none;
    border-color: #B2AC88;
  }

  textarea {
    height: 150px;
    resize: vertical;
  }

  button[type=submit] {
    width: 100%;
    background-color: #B2AC88;
    color: white;
    padding: 14px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
  }
}