<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}blog{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<header>
    <h1><a href="{{ url_for('index') }}" class="url_btn">Blog</a></h1>

    <form action="{{ url_for('index') }}" method="POST" class="search-form">
        <div class="search-group">
            <input type="text" name="input" placeholder="Search..." required>
            <button type="submit">Search</button>
        </div>
    </form>

    <nav>
        <div>
            {% for section in sections %}
                <a href="{{ url_for('section_page', section_slug=section.slug) }}" class="url_btn">
                    {{ section.name }}
                </a>
            {% endfor %}
        </div>
    </nav>
    <a href="{{ url_for('add_post') }}" class="url_btn">Make post</a>
    <a href="{{ url_for('login') }}" class="btn">{{ name }}</a>
</header>

<hr>

{% block content %}{% endblock %}

</body>
</html>
