{% extends "base.html" %}
{% block title %}Main{% endblock %}

{% block content %}
    {% if results is not none %}
        <h2>Search results for "{{ input }}"</h2>
        {% for post in results %}
            <div class="post">
                <p>{{ post.text }}</p>
                {% if post.image %}
                    <img src="{{ post.image }}" alt="">
                {% endif %}
            </div>
        {% else %}
            <p>No posts found matching your search.</p>
        {% endfor %}
        <hr>
    {% else %}
        <h2>Welcome chose category you want to see!</h2>
    {% endif %}
{% endblock %}